<div style ="width:650px; height: 300px; font-style: italic; font-weight:bold;  ">
  <p>
    My name is Salem Alqarzi, I usually go by 'Sam'. I am a graduate Business Analytics student
    (Track Data Security) at University of Colorado Boulder. I graduated from the same university
    holding a dual bachelor degree in Accounting and Information systems.
    Before I can go out and gain work experience,I decided to obtain the whole package of
   information systems and data analytics by attending the graduate school.
   During all this time,I aimed my attention to learning data analytics and programing languages,
   and I've done many incredible projects some of which you can check in the 'Projects Page'.
   I have a strong appetite and passion for data analytics and web development.
  </p>
</div>
